<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TGISS.Globals.Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TGISS.Globals.Tools.Properties.Settings>
      <setting name="DefaultCSVSeparator" serializeAs="String">
        <value>","</value>
      </setting>
      <setting name="MaxColumnExcel2010" serializeAs="String">
        <value>XFD</value>
      </setting>
      <setting name="MaxColumnExcel2007" serializeAs="String">
        <value>ZZ</value>
      </setting>
    </TGISS.Globals.Tools.Properties.Settings>
  </applicationSettings>
</configuration>